page-signup {
	
	.background {
		background-image: url('../assets/imgs/signup.jpg');
		background-size: 100% 100%;
	}
	
	
	ion-card.card {
		box-shadow: none;
		background: rgba(0,0,0,0.5);
		border-radius: 5px;
	
	}
	a,p,
	ion-card-header.card-header {
		color: #f2a!important;
	}
	.list > .item-block:first-child {
		border: medium none;
	}
	
	.item{
		margin-bottom: 10px;
		background: rgba(200,0,0,0.5);
		border: medium none;
		.text-input {
			color: #fff;
		}
	}


}
